.apply-form-main-container {
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
}

.loan-apply-header--image {
  background-image: url('https://upwards.in/assets/img/upwardslogo(txt).png');
  background-size: cover;
}

.loan-apply-form {
    margin-top: 1em;
}



/* overridng meterial.io default classes */
.mat-card {
    padding: 2em;
}
.mat-card-header {
    border-bottom: 1px solid #3F51B5;
    color: #3F51B5;
}
.mat-card-content {
    padding: 1em;
}
.mat-card-actions {
    padding: 0 1.4em 0;
}
.mat-form-field {
    width: 100%;
    max-width: 360px;
}
