/* overridng meterial.io default classes */
.mat-card {
    padding-bottom: 2em;
}
.mat-card-content {
    padding: 1em;
}
.mat-card-actions {
    padding: 0 1.4em 0;
}
.mat-form-field {
    width: 500px;
    max-width: 500px;
}
